---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
};

const { label, isUnderline, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    ["hover:text-neutral-100 cursor-pointer ml-2"]: true,
    ["underline decoration-wavy underline-offset-8"]: isUnderline,
  }}
  {...props}
  rel="noreferrer"
  target="_blank"
>
  <svg
    width="26"
    height="26"
    viewBox="0 0 24 24"
    style="fill: currentColor;transform: ;msFilter:;"
    ><path fill-rule="evenodd" clip-rule="evenodd" d={label}></path></svg
  >
</a>
