---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
import SocialLinks from "@/components/SocialLinks.astro";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between items-center">
  <div class="flex flex-col justify-center items-center">
    <h2 class="text-2xl font-bold">{presentation.logo}</h2>
    <SocialLinks />
  </div>

  <nav role="navigation" class="py-6 md:py-1">
    <ul role="list" class="flex flex-row gap-4 md:gap-2">
      <li>
        <a
          href="/"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100 underline decoration-wavy underline-offset-8"]:
              pathname === "/",
          }}>Home</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href="/posts"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100 underline decoration-wavy underline-offset-8"]:
              pathname === "/posts",
          }}>Posts</a
        >
      </li>
    </ul>
  </nav>
</header>
